body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1862px;
  height:985px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:1862px;
  height:985px;
}
#u143 {
  position:absolute;
  left:2px;
  top:484px;
  width:1858px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u144 {
  position:absolute;
  left:1983px;
  top:107px;
  width:300px;
  height:32px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u146 {
  position:absolute;
  left:1983px;
  top:198px;
  width:300px;
  height:48px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u148 {
  position:absolute;
  left:1983px;
  top:49px;
  width:300px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u150 {
  position:absolute;
  left:498px;
  top:74px;
  width:30px;
  height:30px;
}
#u151 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u152 {
  position:absolute;
  left:1943px;
  top:107px;
  width:30px;
  height:30px;
}
#u153 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u154 {
  position:absolute;
  left:1943px;
  top:198px;
  width:30px;
  height:30px;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
