body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:765px;
}
#u168 {
  position:absolute;
  left:188px;
  top:88px;
  width:793px;
  height:765px;
}
#u169 {
  position:absolute;
  left:2px;
  top:374px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
