body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u971 {
  position:absolute;
  left:140px;
  top:90px;
  width:561px;
  height:55px;
  text-align:left;
}
#u972 {
  position:absolute;
  left:2px;
  top:20px;
  width:557px;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u973 {
  position:absolute;
  left:140px;
  top:180px;
  width:561px;
  height:55px;
  text-align:left;
}
#u974 {
  position:absolute;
  left:2px;
  top:20px;
  width:557px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u975 {
  position:absolute;
  left:140px;
  top:282px;
  width:561px;
  height:55px;
  text-align:left;
}
#u976 {
  position:absolute;
  left:2px;
  top:20px;
  width:557px;
  word-wrap:break-word;
}
